<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Leftover Reviews</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1><a href="./index.html">Leftover Reviews</a></h1>
<hr>
<div id="login">
    <h2>Login to Account</h2>
    <form method="POST" action="./account/login">
        <p><input type="text" name="username" value="" placeholder="Username"></p>
        <p class="submit"><input type="submit" name="commit" value="Login"></p>
    </form>
</div>
<br/>
<div id="register">
    <h2>Register Account</h2>
    <form method="POST" action="./account/register">
        <p><input type="text" name="username" value="" placeholder="Username"></p>
        <p class="submit"><input type="submit" name="commit" value="Register"></p>
    </form>
</div>
</body>
</html>