<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Leftover Reviews</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1><a href="/">Leftover Reviews</a></h1>
    <h2>Search Users</h2>
    <form method="GET" action="/users">
        <p><input type="text" name="usernamefrag" value="" placeholder="Search"></p>
        <select name="ordering">
            <option value=""></option>
            <option value="jaccard">Jaccard</option>
            <option value="bacon">Bacon</option>
        </select>
        <p class="submit"><input type="submit" name="commit" value="Search"></p>
    </form>

    <h2>List of Users</h2>
    <div th:each = "user: ${allusers}">
        <a th:href="@{'/users/' + ${user.id}}" th:text="@{${user.username} + '#' + ${user.id}}"></a>
    </div>
</body>
</html>