<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<h2>List of Current Users</h2>
<table border="1">
    <tr>
        <th>UserID</th>
        <th>Username</th>
    </tr>
    <tr th:each = "user: ${userlist}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
    </tr>
</table>
    <a href="/product">Create a new product</a></br>
    <a href="/delete">Delete a user</a></br>
</body>
</html>