<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>There was no user found with the provided username</h1>
    <p th:text="'Username: ' + ${user.username}" />
    <a href="/user">Find another user</a></br>    
    <a href="/allusers">See list of current users</a></br>
    <a href="/account">Register a new user</a></br>    
</body>
</html>