<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Review System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Product Review System</h1>
	<h2>Please choose from one of the following options</h2>
    <a href="/allusers">See list of current users</a></br>
    <a href="/account">Register a new user</a></br> 
    <a href="/user">Search for a user</a></br>   
    <a href="/delete">Delete a user</a></br>
    <a href="/product">Create a new product</a></br>
</body>
</html>