<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Review System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1><a href="/">Leftover Reviews</a></h1>
	<h2>Please choose from one of the following options</h2>
    <a th:href="'/users/' + ${currentuser.id}">Your account</a></br>
    <a href="/account">Log out</a></br>
    <a href="/users">See list of current users</a></br>
    <a href="/products">Create a new product</a></br>
</body>
</html>