<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Leftover Reviews</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1><a href="/">Leftover Reviews</a></h1>
    <hr>
    <form method="POST" th:action="'/follow/' + ${user.id}">
        <button type="submit" value="Submit">Follow</button>
    </form>
    <form method="POST" th:action="'/unfollow/' + ${user.id}">
        <button type="submit" value="Submit">Unfollow</button>
    </form>
    <br/>
    <h2>Product Reviews</h2>
    <div th:each = "review: ${allreviews}">
        <div>
            <a th:href="@{'/products/' + ${review.product.id}}" th:text="${review.product.name}"></a>
            <p th:text="${review.description}"></p>
            <p th:text="'Score: ' + ${review.score}"></p>
            <form method="DELETE" th:if="${review.writer.id.equals(currentuser.id)}" th:action="@{'/users/' + ${user.id}}">
                <button type="submit" value="Submit">Delete</button>
            </form>
        </div>
    </div>
</body>
</html>